@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: white;
    width: 70vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: black;
}

.button {
    padding: 5px 30px;
    font-size: 18px;
}


/* #0fd3dd */